<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.equipmentbookingtest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Devicelist"
            android:label="@string/title_activity_devicelist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Showdevice"
            android:label="@string/title_activity_showdevice"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Useraccount"
            android:label="@string/title_activity_useraccount"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bookdevice"
            android:label="@string/title_activity_bookdevice"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ChooseADate"
            android:label="@string/title_activity_choosedate"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".BookDevice"
            android:label="@string/title_activity_book_device"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AccountSetting"
            android:label="@string/title_activity_account_setting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeleteUserAccount"
            android:label="@string/title_activity_delete_user_account"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
    </application>

</manifest>
